<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ralali - Test Front End</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav128.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav195.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/fav195.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/fav96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta charset="utf-8">
    <meta name="keywords" content="PASY, pasy, pay is easy, bayar, mudah">
    <meta name="Description" CONTENT="Kemudahan pembayaran dalam berbelanja di sosial media, toko tradisional ataupun jasa">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
    <meta name="robots" content="noindex,nofollow">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/fav128.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel='stylesheet' href='/dist/css/style.css' type='text/css' lazyload>
    <link rel='stylesheet' href='/dist/css/font-awesome.css' type='text/css' lazyload>
    <div id="ralali"></div>
    <!-- <div id="main"><%- markups -%></div> -->
    <script src="/dist/js/ralali.js"></script>
  </body>
</html>
